{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-5 logo-font ">
                    Welcome to the barbell store, our assortment includes Strength training equipment, Cardio training equipment and Smartwatches.
                </h1>

                <div class="my-5">
                    <h3>
                        <a href="#" class="shop-now-button btn btn-lg rounded-0 text-0 text-uppercase py-3">Login now for 10% discount with your first purchase</a>
                    </h3>
                </div>

            </div>
        </div>
    </div>
{% endblock %}