@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    height: 100%;
}

.container-index {
    background: url('/media/background.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    position: fixed;
}

/* Navbar */
.navbar {
    background-color: #191A19;
    width: 100%;
}
.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    color: #FEE440;
}

.nav-link {
    color: #FEE440;
}
.navbar-product {
  display:  contents;
}
.card-img-top{
    border: 1px solid #222;
    
}

.logo-font {
    color: #FEE440;
    text-shadow: 2px 2px #222;
}

#shipping-banner {
    white-space: nowrap;
    animation: bannermove 20s linear infinite;
}
@keyframes bannermove {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
/* Index */
.button-login {
    margin-left: 3%;
    margin-top: 10%;
}
/* Products */
.overlay {
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    position: fixed;
    z-index: 1;
}
.btt-button {
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 20px;
    right: 15px;
    background-color: #191A19;
    border: 2px solid #FEE440;
}

.btt-link {
    cursor: pointer;
}

.btn-sorting{
    background-color:#191A19;
    color: #FEE440;
    font-weight: 500;
}
.btn-sorting:hover {
    color: #191A19;
    background-color: #FEE440;
}
/* Product_details */
.add-to-bag{
    background-color: #FEE440;
}

.text-delivery {
    color: #3366FF;
}
#units {
    width: 8%;
}
.decrement-qty {
    background-color: #191A19;
    color:#fafafa;
}
.decrement-qty:hover{
    background-color: #FEE440;
}
.increment-qty {
    background-color: #FEE440;
}
.increment-qty:hover {
    background-color: #191A19;
    color: #FEE440;
}
/* Bag */

.empty-bag {
    background-color: #fafafa;
    color: #191A19;
    height: 40px; 
    border-style: solid; 
    border-color: #FEE440; 
    border-width: 5px 0 5px 0; 
    border-radius: 20px;
    padding: 5px 0 10px 38%;
    font-weight: 900;
    
}
.empty-bag-sentence{
    color: #191A19;
    height: 40px; 
    padding: 2% 0 5% 38%;
    font-size: x-large;
    color: #191A19;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #FEE440;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #FEE440;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #FEE440 !important;
}

.border-black {
    border: 1px solid black !important;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
@media (max-width:991px) {
    .header-container{
        padding-top: 110px;
    }
    body {
        height: calc(100vh-116px);
    }
}